/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: lighten($primary, 48);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: lighten($secondary, 10);
    span {
      color: $primary;
    }
  }
  
  p {
    margin: 15px auto 0 auto;
    font-weight: 300;
  }

  @media (min-width: 1024px) {
    p {
      width: 50%;
    }
  }

}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: lighten($secondary, 70);
  min-height: 40px;
  margin-top: 120px;

  @media (max-width: 992px) {
    margin-top: 70px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    @media (max-width: 992px) {
      margin: 0 0 10px 0;
    }
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

    li + li {
      padding-left: 10px;
    }

    li + li::before {
      display: inline-block;
      padding-right: 10px;
      color: #6c757d;
      content: "/";
    }
  }

  @media (max-width: 768px) {
    .d-flex {
      display: block !important;

    }

    ol {
      display: block;
      li {
        display: inline-block;
      }

    }
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: $white;
  .content {
    padding: 0 80px;
    h3 {
      font-weight: 400;
      font-size: 34px;
      color: lighten($secondary, 10);
    }
  
    h4 {
      font-size: 20px;
      font-weight: 700;
      margin-top: 5px;
    }
  
    p {
      font-size: 15px;
      color: lighten($default, 25);
    }

    ul {
      list-style: none;
      padding: 0;

      li + li {
        margin-top: 15px;
      }

      li {
        position: relative;
        padding-left: 26px;
      }
      
      i {
        font-size: 20px;
        color: $primary;
        position: absolute;
        left: 0;
        top: 2px;
      }


    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .video-box {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // width: 100%;
    // height: auto;
    min-height: 400px;
    position: relative;
  }
  
  .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient( $primary 50%, rgba($primary, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }

  .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba($primary, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  .play-btn:hover::after {
    border-left: 15px solid $primary;
    transform: scale(20);
  }

  .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }

  @media (max-width: 1024px) {
    .content, .accordion-list  {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 992px) {
    .content  {
      padding-top: 30px;
    }
   .accordion-list  {
      padding-bottom: 30px;
    }
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1
  }
  100% {
    transform: scale(1, 1);
    opacity: 0
  }
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery  {
  padding-bottom: 0;
  .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;

    img {
      // width: 200px; /* width of container */
      // max-height: 300px; /* height of container */
      // object-fit: cover;
      transition: all ease-in-out 0.4s;
    }

    &:hover img {
      transform: scale(1.1);
    }

  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {

  .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    padding: 30px;
  }
  
  .info {
    background: $white;

    i {
      font-size: 20px;
      color: $white;
      float: left;
      width: 44px;
      height: 44px;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $primary;
      font-family: $font-default;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: $secondary;
    }

    &:hover {
      i {
        background: $secondary;
        color: $white;
      }
    }
  }
  
  .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);
    padding: 30px;
    background: #fff;

    .form-group {
      padding-bottom: 8px;
    }

    .validate {
      display: none;
      color: red;
      margin: 0 0 15px 0;
      font-weight: 400;
      font-size: 13px;
    }
    
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
  
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
  
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }
  
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    input {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $primary;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
      &:hover {
        background: darken($primary, 8);
      }
    }
  
  }

  @keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

